.profile {
    width: calc(100% - (200px * 2));
    display: flex;
    margin: 0 auto;
    position: relative;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

.profile__information {
    max-width: 336px;
    width: 100%;
    color: #ffffff;
    display: grid;
    grid-template-areas:
        "name edit-button"
        "status status";
    grid-template-columns: 1fr 24px;
    row-gap: 8px;
    column-gap: 18px;
    align-items: baseline;
    margin-right: 244px;
}
.profile__name {
    grid-area: name;
    margin: 22px 0 0;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
}

.profile__status {
    grid-area: status;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

.profile__edit-button {
    grid-area: edit-button;
    background-image: url(../../images/edit-button.svg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
}
.profile__add-button {
    background-image: url(../../images/add-button.svg);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    position: absolute;
    top: 35px;
    right: 0;
}